@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --font-sans:
    Geist, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    Geist Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-additive: var(--additive);
  --color-additive-foreground: var(--additive-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-ring: var(--ring);
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/GeistVF.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMonoVF.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: oklch(0.9856 0.0084 56.32);
  --foreground: oklch(0.1353 0.0288 70.3);
  --primary: oklch(0.7251 0.1376 53.82);
  --primary-foreground: oklch(0.1353 0.0288 70.3);
  --secondary: oklch(0.8191 0.0835 73.37);
  --secondary-muted: oklch(0.8191 0.0835 73.37 / 25%);
  --secondary-foreground: oklch(0.1353 0.0288 70.3);
  --muted: oklch(0.8621 0.1663 85.24);
  --muted-foreground: oklch(0.1353 0.0288 70.3);
  --accent: oklch(0.8621 0.1663 85.24);
  --accent-foreground: oklch(0.1353 0.0288 70.3);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}

[data-theme='dark'] {
  --background: oklch(0.116 0.0247 73.07);
  --foreground: oklch(0.9728 0.0152 61.35);
  --primary: oklch(0.5668 0.1395 50.16);
  --primary-muted: oklch(0.5668 0.1395 50.16 / 25%);
  --primary-foreground: oklch(0.116 0.0247 73.07);
  --secondary: oklch(0.4668 0.0868 69.18);
  --secondary-muted: oklch(0.4668 0.0868 69.18 / 25%);
  --secondary-foreground: oklch(0.9728 0.0152 61.35);
  --muted: oklch(0.5706 0.1174 75.42);
  --muted-foreground: oklch(0.9728 0.0152 61.35);
  --accent: oklch(0.7175 0.1477 82.29);
  --accent-foreground: oklch(0.116 0.0247 73.07);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --ring: oklch(0.556 0 0);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border outline-ring/50 tracking-tight;
  }
}

.ingredient-item.hovered{
  background-color: var(--accent);
}

article .temp{
  color: var(--color-red-500);
  background-color: var(--color-red-200);
  border: 1px solid var(--color-red-500);
  border-radius: 6px;
  padding: 2px 4px;
  margin: 0 2px;
  vertical-align: middle;
  line-height: normal;
  display: inline-flex;
  align-items: center;
  width: fit-content;
  font-size: .9em;
  font-family: var(--default-mono-font-family);
}

article .time{
  color: var(--color-blue-500);
  background-color: var(--color-blue-200);
  border: 1px solid var(--color-blue-500);
  border-radius: 6px;
  padding: 2px 4px;
  margin: 0 2px;
  vertical-align: middle;
  line-height: normal;
  display: inline-flex;
  align-items: center;
  width: fit-content;
  font-size: .9em;
  font-family: var(--default-mono-font-family);
}

article sup{top: -1em;}
article sup a{
  text-decoration: none;
  color: var(--primary);
  padding: 2px 2px;
  border-radius: 4px;
  font-weight: 400;
  font-size: .9em;
}
article sup a:hover{background-color: var(--primary); color: var(--primary-foreground);}
article sup a::before{content:"[ "}
article sup a::after{content:" ]"}

article section.footnotes::before{content: "Références :"; font-weight: 500; font-size: 1.2em;}
article section.footnotes{
  background-color: var(--secondary);
  padding: .5em 1em; 
  border-radius: 8px;
  border: solid 1px var(--border);
}
article section.footnotes a::before{content:"[ "}
article section.footnotes a::after{content:" ]"}
article section.footnotes a[target=_blank]{text-decoration: underline;}
article section.footnotes a{
  padding: 2px 2px;
  border-radius: 4px;
  font-weight: 400;
  font-size: .9em;
  color: var(--foreground);
}

article a:hover{background-color: var(--primary); color: var(--primary-foreground);}
article a{
  padding: 2px .5em;
  border-radius: 4px;
  font-weight: 400;
  color: var(--primary);
  text-decoration-color: var(--primary);
}
article a:not([target=_blank]){text-decoration: none;}
article a[target=_blank]::after{content: "[→]"; font-size: .7em; vertical-align: middle; margin-left: .5em;}
article a[target=_blank]:hover{color: var(--primary-foreground);}

article span.highlighted{background-color: var(--accent); padding: 0 .25em;}

article blockquote em{opacity: .5;}

article table{
  background-color: white;
  border: 2px solid var(--secondary);
  border-radius: 8px;
  box-shadow: 6px 6px 0 var(--secondary);
}
article table thead{color: var(--foreground);}
article table tr, article table thead{border: none;}
article table td:not(:first-child), article table th:not(:first-child){border-left: 1px solid var(--secondary);}
article table tbody tr:nth-child(odd){background-color: var(--secondary-muted);}

[data-theme='dark']{
  article table{
    background-color: var(--foreground);
    color: var(--background);
  }
  article table thead{color: var(--background);}
  article table td{color: var(--background);}
  article table td strong{color: var(--background);}
}

.banner-source a{text-decoration: underline;}
.banner-source a:hover{opacity: .5;}