---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import RecipeCard from '@/components/RecipeCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts as recentPosts } from '@/lib/blog-utils'
import { getRecentPosts as recentRecipes } from '@/lib/recipes-utils'

const lastPosts = await recentPosts(3)
const lastRecipes = await recentRecipes(3)
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Bonjour" />
  <section>
    <div class="rounded-lg border bg-white dark:text-background dark:bg-white/70">
      <div class="flex flex-col space-y-1.5 p-6">
        <h3 class="text-3xl leading-none font-medium">Bonjour</h3>
      </div>
      <div class="p-6 pt-0">
        <p>
          Pour une raison inconnue, vous avez atterri sur ce journal, bienvenu à vous. Ce site archive des notes personnelles traitant divers sujets qui ont 
          mon intérêt. En vous baladant ici, vous pourrez aussi bien trouver des écrits parlant de finances ou de psychologie que des longs articles sur la 
          méthodologie de la pâtisserie française.
        </p>
      </div>
    </div>
  </section>
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Dernières recettes :</h2>
    <section class="flex flex-col gap-y-4">
      <ul class="flex flex-col gap-4">
        {lastRecipes && lastRecipes.length > 0 &&
          lastRecipes.map((post) => <li><RecipeCard entry={post}/></li>)
          
        }
      </ul>
    </section>
  </section>
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Derniers articles :</h2>
    <section class="flex flex-col gap-y-4">
      <ul class="flex flex-col gap-4">
        {lastPosts && lastPosts.length > 0 &&
          lastPosts.map((post) => <li><BlogCard entry={post}/></li>)
          
        }
      </ul>
    </section>
  </section>
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Obsidian</h2>
    <p>
      J'utilise <Link href='https://obsidian.md/' external underline class="text-foreground">Obsidian</Link> pour écrire de façon quotidienne, c'est un outil fantastique. J'essaye de maintenir les notes organisées et triées d'une façon logique, mais la 
      navigation instinctive réserve parfois plus de surprise que le système hiérarchique vertical. Je vous invite à vous balader d'une note 
      à l'autre au fil des sujets qui vous intéressent.
    </p>
  </section>
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Pour en savoir plus</h2>
    <p>
      Pour en savoir plus sur ma personne, je vous invite à faire un tour <Link href='/about' underline class='text-foreground'>sur la page dédiée.</Link>
    </p>
  </section>
</Layout>
