---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
// import { getRecentPosts } from '@/lib/data-utils'

// const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Bonjour" />
  <section>
    <div class="rounded-lg border">
      <div class="flex flex-col space-y-1.5 p-6">
        <h3 class="text-3xl leading-none font-medium">Bonjour</h3>
      </div>
      <div class="p-6 pt-0">
        <p>
          Pour une raison inconnue, vous avez atterri sur ce journal, bienvenu à vous. Ce site archive des notes personnelles traitant divers sujets qui ont 
          mon intérêt. En vous baladant ici, vous pourrez aussi bien trouver des écrits parlant de finances ou de psychologie que des longs articles sur la 
          méthodologie de la pâtisserie française.
        </p>
      </div>
    </div>
  </section>
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Comment naviguer ici ?</h2>
    <p>
      Tout ce qui se trouve dans ce journal a été écrit et réécrit par moi-même après avoir passé trop de temps à y réfléchir. Mon journal est rangé en trois 
      grandes catégories :
      <ul class="flex flex-col gap-5">
        <li><span class="font-bold">💡Idées :</span> des listes d'idées sur des sujets variés, que je note dans l'espoir d'en réaliser quelques-unes un jour, ou bien pour pouvoir les raconter en 
        soirée et passer pour quelqu'un d'extrêmement créatif.</li>
        <li><span class="font-bold">🧠 Apprentissage :</span> des sujets qui m'ont intéressé assez un jour pour que je décide d'en faire une note afin d'essayer d'en retenir quelque chose.</li>
        <li><span class="font-bold">🍰 Pâtisserie :</span> des articles sur la théorie et la méthode de la pâtisserie ou simplement des notes d'apprentissage. Je fais beaucoup de recherches qui 
        tournent autour de la pâtisserie végétale et de la pâtisserie scientifique, j'essaye d'archiver ici tout ce qui en découle.</li>
      </ul>
    </p>

    <!-- <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div> -->
  </section>
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Obsidian</h2>
    <p>
      J'utilise <Link href='https://obsidian.md/' external underline class="text-foreground">Obsidian</Link> pour écrire de façon quotidienne, c'est un outil fantastique. J'essaye de maintenir les notes organisées et triées d'une façon logique, mais la 
      navigation instinctive réserve parfois plus de surprise que le système hiérarchique vertical. Je vous invite à vous balader d'une note 
      à l'autre au fil des sujets qui vous intéressent.
    </p>
  </section>
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Pour en savoir plus</h2>
    <p>
      Pour en savoir plus sur ma personne, je vous invite à faire un tour <Link href='/about' underline class='text-foreground'>sur la page dédiée.</Link>
    </p>
  </section>
</Layout>
